footer{
    background-color: #000;


.menuFooter{
    padding: 3rem 0;
    margin: auto;

    &__logo{
        height: 70px;
        display: flex;
        justify-content: center;

        img{
            height: 100%;
        }
    }

    &__contacto{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: white;
        letter-spacing: 0.15rem;

        a{
            color: white;
            text-decoration: none;
            padding: 1rem;

            &:hover{ 
                background-color: salmon;
                color: white;
            
            }
        }

    }
}
}
