html {
    font-size: 62.5%; }

body{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.05rem;

}

.btn-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    z-index: 100;

    &:hover{
        text-decoration: none;
        color: #0df053;
        background: white;
    }
}





