/*COLORES*/

/*bolsos*/
$maiz: #df9b36;
$cemento: #4c5057;
$natural: #f5e1c3;
$coral: #df3c36;

/*almohadones*/
$verde: #80a87c;
$rosa: #fab9b9;
$rayado2: #fffde2;
$rayado1: #96a6b3;
$gris: #aaaaaa;

$bgTitulo: #f8e6c4de;