.galeriaInfoLateral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

    &__producto{
        display: flex;
        padding: 1rem;
    }
    
    

    &__foto{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 100%;
        padding: 1rem ;
    

        img {
            position: relative;
            max-width: 90%;
            max-height: 90%;
            border-radius: 2rem;
            box-shadow: 5px 5px 10px #888888;
            background-size: cover;
            background-position: center center;
        }

    }

    &__detalle{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        padding: 3rem 0 1rem 1rem;
        line-height: 1.9rem;

        li{
            padding: 0 0 1rem 0;
            font-size: 1.8rem;
          
        }
        
    }
}


@media only screen and (max-width: 992px) {
    
    .galeriaInfoLateral {
        justify-content: start;      
        
        
    
    }

}

@media only screen and (max-width: 768px) {
    
    .galeriaInfoLateral {
        flex-direction: column;
        align-items: flex-start;  

       
    }

}

@media only screen and (max-width: 576px) {
    
    .galeriaInfoLateral {

        &__producto{
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-bottom: 1rem;
        }

        &__foto{
            justify-content: flex-start;

        }

        &__detalle{
            font-size: 1.8rem;
            padding: 0 0 0 1rem;
        }
    
    }

}
