html {
    font-size: 62.5%; }

body{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.15rem;

}


.menu{
    
    background-color: rgb(0, 0, 0);    
   
    &__logo{
        height: 70px;
    }

    &__boton {
        background-color: transparent;
        border-color: transparent !important;

        &__icono{
            background-image: url(https://raw.githubusercontent.com/sebastgarcia/catalogoHT/0deb3b94da9c05948aef04c07d62985daf7f413d/imagenes/boton_navbar.svg); 

            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }
 
    &__producto{
        list-style: none;
        margin: 0;
        padding-left: 3rem;

        &__categoria{
            padding: 2rem 0 0 3rem;

            &__item{
                padding: 0.5rem 1rem;
            }

            a{
                color: white;
                text-decoration: none;

                &:hover{
                    background-color: salmon;
                   
                    color: white;
                
                }
            }

        
        }

    }
}

.dropdown-menu {
    background-color: #000;
    left: auto !important;
    border-color: transparent;
    
}

.dropdown-item{
    font-weight: 300;
    font-size: 1.8rem;


}



.presentacion{
    

    &__imagen{
        

    }

    &__detalle{

    }
}



